@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/livvic-v13-latin-200.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-200.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/livvic-v13-latin-300.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/livvic-v13-latin-500.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

body {
  font-family: "Livvic", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #014e56;
  padding: 73px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner {
  display: flex;
  align-items: center;
}

.logo-img-link {
  display: inline-block;
}

.logo-img {
  width: 160px;
  height: 40px;
  display: block;
}

path {
  transition: fill 0.3s ease;
}

.logo-img:hover path {
  fill: #f67e7e;
}

.navbar {
  margin-left: 80px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-items + .navbar-items {
  margin-left: 40px;
}

.navbar-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #f67e7e;
}

.navbar-link:active {
  color: #ff4545;
}

.contakt-us {
  display: inline-block;
  padding: 10px 33px;
  border-radius: 24px;
  border: 2px solid white;
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.contakt-us:hover {
  color: #002529;
  background-color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger:hover {
  background-color: #156871;
}

.hamburger img {
  width: 20px;
  height: 17px;
}

/* MAIN STYLES START */

.section-find-talant {
  background-image: url("../img/bg-img-2.svg");
  background-repeat: no-repeat;
  background-position: 0 50px;
  background-color: #014e56;
}

.find-talant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 250px;
  background-image: url("../img/bg-img-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.find-talant-title {
  max-width: 635px;
}

.find-talant-title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}
.talant-color {
  color: #f67e7e;
}

.find-talant-text-span {
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-bottom: 79px;
  background-color: #79c8c7;
}

.find-talant-text {
  max-width: 445px;
}

.find-talant-text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.section-delivering {
  background-image: url("../img/bg-img-3.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #012f34;
}

.delivering {
  display: flex;
  justify-content: space-between;
}

.delivering-title-span {
  background-color: #f67e7e;
  margin: 0;
  margin-bottom: 54px;
}

.delivering-title {
  max-width: 445px;
}

.delivering-title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.delivering-content {
  margin-top: 54px;
}

.delivering-items {
  display: flex;
}

.delivering-items + .delivering-items {
  margin-top: 32px;
}

.delivering-items-content {
  max-width: 445px;
  margin-left: 23px;
}

.delivering-items-content h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
  margin-bottom: 16px;
}

.delivering-items-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.section-success {
  background-image: url("../img/bg-img-4.png"), url("../img/bg-img-5.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-color: #004047;
  padding: 140px 0;
}

.stories-title {
  max-width: 932px;
  margin: 0 auto;
}

.stories-title h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.stories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stories-items {
  padding-top: 92px;
  background-image: url("../img/bg-img-itempng.svg");
  background-repeat: no-repeat;
  background-position: center 50px;
  max-width: 350px;
}

.stories-items-text-1 {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 24px;
}

.title-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
  margin-bottom: 2px;
}

.stories-items-text-2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.avatar {
  display: block;
  width: 62px;
  height: 62px;
  margin: 0 auto;
}

.section-ready {
  background-image: url("../img/bg-img-get-start.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 76px 0;
  background-color: #f67e7e;
}

.get-start {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.get-start-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.contakt-us-2 {
  color: #012f34;
  border: 2px solid #012f34;
  transition: all 0.3s ease;
}

.contakt-us-2:hover {
  color: white;
  background-color: #012f34;
}

.contakt-us-2:active {
  background-color: #012f34bc;
}

.site-footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-myteam {
  display: flex;
  align-items: center;
}

.logo-footer {
  display: block;
  width: 160px;
  height: 40px;
}

.footer-menu-list {
  margin-top: 25px;
  display: flex;
}

.footer-menu-items + .footer-menu-items {
  margin-left: 40px;
}

.footer-address {
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-left: 125px;
}

.footer-address p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.footer-address a {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.footer-prog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-links a + a {
  margin-left: 16px;
}

.footer-prog-text {
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 51px;
}
/* MAIN STYLES END */

/* ABOUT SECTION STYLE START */
.about {
  background-color: #014e56;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 250px;
  background-image: url("../img/bg-img-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about__title {
  max-width: 350px;
}

.about__title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.about__text-span {
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-bottom: 40px;
  background-color: #f67e7e;
}

.about__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  max-width: 700px;
}

.about__text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
/* ABOUT SECTION STYLE END */
/* DIRECTORS SECTION STYLE START */
.directors {
  background-image: url("../img/bg-img-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: #004047;
}

.directors__title {
  margin-bottom: 64px;
  /* display: none; */
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.directors__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.directors__item {
  position: relative;
  z-index: 1;
  height: 253px;
  margin-bottom: 124px;
}

/* .directors__item:nth-child(-n + 3) {
  margin-bottom: 76px;
} */

.director__content {
  height: 253px;
  display: flex;
  flex-direction: column;
  background-color: #012f34;
  overflow: hidden;
}

.director__content-right {
  background-color: #012f34;
  transition: transform 1s ease;
}

.director__content-left {
  width: 350px;
  padding: 32px 24px 56px;
  text-align: center;
}

.director__picture {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.director__name {
  color: #79c8c7;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.director__position {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.director__content-right {
  width: 350px;
  padding: 32px 24px 56px;
  text-align: center;
}

.director__quote {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.director__content-prog-link img {
  margin-top: 24px;
}

.director__button {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%);
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: #f67e7e;
  transition: background-color 0.3s ease;
}

.director__button:hover {
  background-color: #79c8c7;
}

.director__button:hover ~ .director__content .director__content-right {
  transform: translateY(-100%);
}

.director__button-img {
  display: block;
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.director__button:hover .director__button-img {
  transform: rotate(-45deg);
}
/* DIRECTORS SECTION STYLE END */
/* CLIENTS SECTION STYLE START */
.clients {
  background-image: url(../img/about-section-oval.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 437px;
  background-color: #012f34;
}
.clients__title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 920px; */
  padding-top: 140px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.clients__link {
  display: flex;
  align-items: center;
  /* width: 1190px; */
  /* padding: 252px 40px 140px 40px; */
  justify-content: space-between;
  padding-top: 90px;
  flex-wrap: wrap;
}
.clients__img{
  margin: 10px;
}
/* CLIENTS SECTION STYLE END */
/* CONTACT SECTION STYLE START */
.contact {
  background-image: url();
  background-color: #014e56;
}
.contact__ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 124px;
  padding-bottom: 128px;
}
.contact__title h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 56px;
  margin-bottom: 24px;
}
.contact__title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f67e7e;
  margin-bottom: 46px;
}
.contact__item-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 52px;
}
.contact__item-link img {
  margin-right: 25px;
}
.contact__input {
  width: 445px;
  height: 42px;
  border-bottom: 1px solid #fff;
  margin-bottom: 41px;
  padding-left: 10px;
  color: #fff;
}
.contact__textarea {
  width: 445px;
  height: 42px;
  border-bottom: 1px solid #fff;
  margin-bottom: 41px;
  padding-left: 10px;
  color: #fff;
}
textarea::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  color: #fff;
  /* padding-bottom: 58px; */
  padding-left: 10px;
}
input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  color: #fff;
  padding-bottom: 17px;
  padding-left: 10px;
}
.contact__button {
  width: 123px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  transition: .4s;
}
.contact__button:hover{
  color: #fff;
  background-color: #002529;
}
/* CONTACT SECTION STYLE END */

@media only screen and (max-width: 1057px) {
  .section-find-talant {
    background-image: none;
  }

  .find-talant-title {
    max-width: 635px;
    margin-bottom: 24px;
  }

  .find-talant-text-span {
    display: none;
  }

  .find-talant {
    padding-top: 56px;
    padding-bottom: 258px;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about {
    background-image: none;
  }

  .about__title {
    max-width: 635px;
    margin-bottom: 24px;
  }

  .about__text-span {
    display: none;
  }

  .about__inner {
    padding-top: 56px;
    padding-bottom: 258px;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .delivering {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .delivering-title-span {
    display: block;
    margin-bottom: 32px;
  }

  .delivering-title {
    margin-bottom: 64px;
  }

  .stories-list {
    flex-direction: column;
  }

  .stories-items {
    padding-top: 82px;
    max-width: 550px;
  }

  .stories-title {
    max-width: 573px;
  }

  .stories-title h5 {
    font-size: 32px;
    line-height: 32px;
  }

  .get-start-title {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
  }

  .contakt-us-2 {
    display: block;
  }
}

@media only screen and (max-width: 1000px){
  .contact__ask{
    flex-direction: column;
  }
  .contact__title{
    text-align: center;
  }
}
@media only screen and (max-width: 781px) {
  .clients__title{
    text-align: center;
    font-size: 46px;
  }
  .contact__textarea{
    width: 360px;
  }
  .contact__input {
    width: 360px;
  }
  .directors__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients__link img{
    margin-top: 20px;

  }
  .about__title {
    max-width: 635px;
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 15px;
  }
  .footer {
    flex-direction: column;
  }

  .footer-myteam {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo-footer {
    width: 95px;
    height: 24px;
  }

  .footer-menu-items + .footer-menu-items {
    margin-left: 24px;
  }

  .footer-address {
    margin: 0;
  }

  .footer-prog {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 689px) {
  .site-header {
    padding: 64px 0;
  }

  .logo-img {
    width: 128px;
    height: 32px;
  }

  .navbar {
    margin-left: 48px;
  }

  .section-find-talant {
    background-image: none;
  }

  .find-talant {
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .find-talant-title {
    width: 100%;
  }

  .find-talant-title h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
  }

  .find-talant-text {
    max-width: 457px;
  }

  .find-talant-text p {
    font-style: 600;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }

  .section-delivering {
    background-position: right top;
  }

  .delivering-title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .contakt-us-2 {
    display: block;
  }

  .get-start {
    flex-direction: column;
  }

  .get-start-title {
    text-align: center;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .site-header {
    padding: 48px 0;
  }

  .hamburger {
    display: block;
  }

  .contakt-us {
    display: none;
  }

  .navbar {
    display: none;
  }

  .find-talant-title {
    margin-bottom: 18px;
  }

  .find-talant-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  .find-talant-text {
    max-width: 327px;
  }

  .find-talant-text p {
    font-style: 600;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }

  .find-talant {
    background-position: cover 450px;
  }

  .delivering {
    align-items: flex-start;
  }

  .delivering-title {
    margin-bottom: 56px;
  }

  .delivering-title h3 {
    max-width: 240px;
  }

  .delivering-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .delivering-items-content {
    margin-top: 16px;
  }

  .contakt-us-2 {
    display: block;
  }
}

@media only screen and (max-width: 444px) {
  .clients__title{
    text-align: center;
    font-size: 34px;
  }
  .contact__textarea{
    width: 300px;
  }
  .contact__input {
    width: 300px;
  }
  .footer-myteam {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-footer {
    margin: 0 auto;
  }

  .footer-menu {
    margin-bottom: 24px;
  }

  .logo-footer {
    width: 95px;
    height: 24px;
  }

  .footer-prog {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .footer-prog-text {
    margin-top: 16px;
  }
}
